@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");

body {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.btn-sign-up {
  color: rgb(255, 100, 98);
  font-weight: bold;
}

.nav-item a,
.btn-link {
  font-weight: bold;
  color: rgb(255, 218, 202);

  &:hover,
  &:target {
    color: rgb(255, 234, 220);
    transition: color 0.3s ease;
  }

  &:focus {
    font-weight: bold;
    color: rgb(255, 234, 220);
    transition: color 0.3s ease;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    color: rgb(26, 57, 82);
  }
}

.header-section {
  color: rgb(255, 218, 202);

  p {
    font-weight: normal;
  }
}

.gradient-background {
  background: linear-gradient(to right, rgb(255, 142, 112), rgb(255, 100, 98));
  border-bottom-left-radius: 125px;
  opacity: 0.9;
}

.cover-section {
  background-image: url("/assets/images/bg-pattern-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 125px;
}

.product-section {
  .title-section,
  .subtitle-section {
    color: rgb(26, 57, 82);
    font-weight: bold;
  }

  .text-product {
    color: rgb(26, 57, 82);
    font-size: 17px;
    font-weight: normal;
    opacity: 0.8;
  }

  .img-col-section {
    padding: 5rem;
  }
}

.product-banner {
  background: linear-gradient(to right, rgb(47, 48, 68), rgb(60, 63, 96));
  border-top-right-radius: 125px;
  border-bottom-left-radius: 125px;

  .title-section {
    color: white;
    font-weight: bold;
  }

  .text-section {
    color: white;
    font-size: 17px;
    font-weight: normal;
    opacity: 0.8;
  }
}

.footer {
  color: rgb(255, 218, 202);
  background-color: rgb(36, 36, 44);
  border-top-right-radius: 125px;

  .text-body-secondary {
    color: #f8f9fa !important;
  }
}

.product-banner-section {
  background-image: url("/assets/images/bg-pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

.dropdown-menu {
  background: linear-gradient(to right, rgb(255, 142, 112), rgb(255, 100, 98));
}

@media (max-width: 991.98px) {
  .navbar-collapse.collapse.show {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;

    .nav-item {
      text-align: center;
      width: 100%;

      a {
        color: rgb(26, 57, 82);

        &::after {
          color: rgb(255, 100, 98);
        }
      }
    }

    .btn-link {
      color: rgb(26, 57, 82);
    }

    .btn-sign-up {
      background-color: rgb(255, 100, 98);
      color: #f8f9fa;
    }

    .navbar-btn {
      border-top: var(--bs-border-width) var(--bs-border-style)
        var(--bs-border-color);
    }
  }

  .dropdown-menu.show {
    background-color: rgb(174, 178, 182);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.9;

    li {
      text-align: center;
    }
  }
}

@media (max-width: 991.98px) {
  footer {
    text-align: center;
  }
}
